html {
    margin: 0;
    padding: 0;
}

/* Remove Padding on small devices */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: .5fr 4fr 1fr;
    /*/*border: 1px solid #999;*/*/
}

.navbar {
    /*/*border: 1px solid #999;*/*/
}

.dashboard-view {
    /*border: 1px solid #999;*/
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #eee; */
}

.vehicle-details {
    /*border: 1px solid #999;*/
}

.search-notification {
    /* display: grid;
    grid-template-columns: 3fr 1fr;
    height: 60px; */
    margin-top: 30px;
}

/* .search-bar {
    /* /*border: 1px solid #999;
    text-align: left;
} */
/* FEEADC , 797979, 707070, ff7f34*/
.search-notification input{
    width: 85%;
    padding: 15px;
    border: 1px solid #FEEADC;
    border-radius: 5px;
    font-size:14px;
    font-weight: bold;
    color: #707070;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* .notification {
    /* /*border: 1px solid #999;
    text-align: left;
    padding-top: 12px;
} */

.search-notification a {
    background-color: #fff;
    border: 1px solid #ff7f34;
    padding: 18px;
    border-radius: 5px;
    color: #ff7f34;
    font-size: 12px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.welcome-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.parcel-tracker {
    /* /*border: 1px solid #999;*/ */
}

.parcel-search {
    background: url('../icons/search_parcel_card_bg.png') center center no-repeat;
    background-size: cover;
    max-width: 100%;
}

.driver-details {
    /* /*border: 1px solid #999;*/ */
    max-width: 100%;
    border: 14px solid #FEEADC;
    border-radius: 14px;
    height: auto;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.driver .photo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.text-orange {
    color: #ff7f34;
}

.border-orange {
    border: 1px solid #ff7f34;
}

.text-grey {
    color: #707070;
}

.bg-red {
    color: #ff3434;
}

.shadow {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.vehicles:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
